@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--hemera-light-black);
  background: var(--hemera-beige);
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {
  --hemera-beige: #ebe2d3;
  --hemera-marsala: #884143;
  --hemera-bronze: #926a49;
  --hemera-rosy-brown: #bc8f8f;
  --hemera-light-black: #2d2d2d;
}

/* Clerk Modal: Transparenter Hintergrund für UserProfile Modal */
.cl-modalBackdrop {
  background-color: transparent !important;
}
